* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

body {
  background: white;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  font-family: "Roboto", sans-serif;
}

.button {
  margin-left: 50px;
  margin-top: 50px;
}

.btn-content {
  display: inline-flex;
  padding: 10px 20px;
  align-items: center;
  gap: 10px;
  border-radius: 19px;
  border: 2px solid #f00;
  display: inline-flex;
  background-color: white;
  color: #f00;
}

i {
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}

.button-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}

.count {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
}
